/*-- scss:defaults --*/

@import url(./fonts/league-gothic/league-gothic.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:ital@0;1&display=swap');

// fonts
$font-family-sans-serif:  'Montserrat' !default;

// colors
$body-bg: #fff !default;
$body-color: #212529 !default;
$link-color: #3498db !default;
$selection-bg: #fff !default;


// headings
$presentation-heading-font: "Montserrat", sans-serif !default;
// $presentation-heading-color: #c81111a4 !default;

$heading1Size: 3.00em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;


// code blocks
$code-block-border-color: #93a1a1 !default;



/*-- scss:rules --*/

h1 {
  font-weight: normal;
  color: #ba0300 !important;
  margin-bottom: 0.2px;
}

h2, h3 {
  font-weight: normal;
  color: #cb8708 !important;
  margin-bottom: 0.2px;
}

h3 {
  font-weight: normal;
  color: #001957 !important;
  margin-bottom: 0.2px;
}

h2 {
  display: block;
  background-color: #0C3547;
  color: #00aaff !important;
  padding: 0.2em 0.4em;
}

.reveal h2 {
  line-height: 1.05 !important;
}

strong, b {
  color: #9e0000;
  font-weight: 700;
}


.reveal .footer {
 color: #1b241f !important;

}

.hide-logo .slide-logo {
  display: none !important;
}

.content-box-red {
  background-color: #c0392b;
  color: white;
  padding: 0.5em;
  border-radius: 1px;
}

.content-box-green {
  background-color: #27ae60;
  color: white;
  padding: 0.5em;
  border-radius: 1px;
}

.reveal .columns {
  display: flex !important;
  gap: min(4vw, 1.5em);
  align-items: center;
}

.reveal .column {
  display: block !important;
  width: auto;
  flex: 0 1 auto;
}

.bg-darkgreen {
  background-color: "rgb(12, 53, 71)";
}
